body {
    font-family: 'Gill Sans', 'Gill Sans MT', "Calibri", 'Trebuchet MS', sans-serif;
}

.search-text {
    text-align: center;
    font-size: 6vh;
    margin-top: 35vh ;
}

.bigSearch {
    height: 10vh;
    width: 70%;
    margin: auto;
    display: block;
    margin-top: 9vh ;
    border: 2px solid black;
    border-radius: 5vh;
    outline: none;
    background-color: aliceblue;
    font-size: 2.5vh;
    padding: 10px;
}

@media screen and (max-width: 110vh) {
    .bigSearch {
        width: 95%;
        font-size: 3vw;
    }
}

.after {
    margin-top: 50vh;
}

.after-card {
    margin-left: 1vw;
    margin-top: 5vh;
    padding: 5vh;
    border-radius: 10vh;
    border: 2px solid black;
    margin-right: 3vw;
}