body {
    font-family: 'Gill Sans', 'Gill Sans MT', "Calibri", 'Trebuchet MS', sans-serif;
}

.topbar {
    overflow: hidden;
    display: flex;
    height: 9vh;
    position: fixed;
    background-color: white;
    top: 0%;
    left: 0%;
    width: 100%;
    border-bottom-style: solid;
    border-color: black;
    border-width: 0.5vh;
}

.topbar-theButton {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.topbar-logo {
    height: 8.5vh;
    width: 8.5vh;
    margin-top: 1vh;
}

.topbar-title {
    margin-top: 1vh;
    color: #fff;
    top: 50%;
    height: 7vh;
    margin-top: 2.5vh;
    white-space: nowrap;
    font-size:xx-large;
    color: black;
}

.topbar-search {
    background: aliceblue;
    border: 2px solid black;
    border-radius: 100vh;
    margin-left: 1vw;
    margin-right: 1vw;
    height: 7vh;
    margin-top: 1vh;
    margin-bottom: 1vh;
    outline: none;
    color: black;
    font-size: 3vh;
    padding: 10px;
    width: 100%;
}

@media screen and (max-width: 110vh) {
    .topbar-title {
        visibility: hidden;
        position: fixed;
    }
}